@model Microsoft.Store.PartnerCenter.Samples.SDK.Explorer.Models.CustomersModel
@using Microsoft.Store.PartnerCenter.Samples.Common;
@using Microsoft.Store.PartnerCenter.Models.Customers;

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breadcrumbs{
    <ol class="breadcrumb navbar-breadcrumb">
        <li>Customers</li>
    </ol>
}

<div class="side-body padding-top">
    <div id="dialog-newCustomer" style="display: none"></div>

    <div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-content">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-8">
            <a class="lnkNewCustomer" href="/Customers/Create" id="NewCustomer">New Customer</a>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Domain</th>
                <th>Relationship</th>
                <th></th>
            </tr>
        </thead>
        @foreach (Customer customer in Model.Customers.Items)
        {
            <tr id="@customer.Id">
                <td>
                    @Html.ActionLink(customer.CompanyProfile.CompanyName, $"{customer.Id}/Show", "Customers")
                </td>
                <td>
                    @Html.DisplayFor(item => customer.CompanyProfile.Domain)
                </td>
                <td>
                    @Html.DisplayFor(item => customer.RelationshipToPartner)
                </td>
                @if (AppConfig.IsSandboxEnvironment)
                {
                    <td>
                        @Ajax.RouteLink("Delete", new { action = "Delete", controller = "Customers", customerId = customer.Id },
                            new AjaxOptions()
                            {
                                HttpMethod = "Delete",
                                Confirm = $"Are you sure you want to delete {customer.CompanyProfile.CompanyName}?",
                                OnComplete = $"OnSuccessCallback('{customer.Id}')"
                            })
                    </td>
                }
            </tr>
        }
    </table>
</div>

@section Scripts {
    <script type="text/javascript">
        function OnSuccessCallback(data) {
            $('#' + data).remove();
        }

        $(".lnkNewCustomer").click(function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-container');
            $(this).attr('data-toggle', 'modal');
        });

        $(document).on('hidden.bs.modal', function (e) {
            $(e.target).removeData('bs.modal').find(".modal-content").empty();
        });
    </script>
}