@model Microsoft.Store.PartnerCenter.Samples.SDK.Explorer.Models.SubscriptionManageModel

@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breadcrumbs{
    <ol class="breadcrumb navbar-breadcrumb">
        <li>Customers</li>
        <li><a href="/Customers/@Model.CustomerId/Show">@Model.CompanyName</a></li>
        <li>Subscription</li>
        <li class="active">@Model.FriendlyName</li>
    </ol>
}

@section Scripts {
    @if (Model.SubscriptionType.Equals("Azure", StringComparison.CurrentCultureIgnoreCase))
    {
        <script type="text/javascript">
            $(document).ready(function () {
                var ddlResourceGroups = $('#ddlResourceGroups');

                $.ajax({
                    cache: true,
                    type: 'GET',
                    url: '@Url.Action("/ResourceGroups")',
                    success: function (data) {
                        ddlResourceGroups.html('');
                        $.each(data, function (index, item) {
                            ddlResourceGroups.append($('<option></option>').val(item.Name).html(item.Name));
                        })
                    }
                });

                $('#btnApply').click(function () {
                    $.post(
                        '@Url.Action("ApplyTemplate", "Subscriptions")', {
                            customerId: '@Model.CustomerId',
                            subscriptionId: '@Model.SubscriptionId',
                            resourceGroupName: $('#ddlResourceGroups').find(":selected").text(),
                            templateUri: $('#txtTemplateUri').val(),
                            parametersUri: $('#txtParametersUri').val()
                        }
                    );
                });
            });
        </script>
    }
    else
    {
        <script type="text/javascript">
            var ddlDomains = $('#ddlDomains')

            $.ajax({
                cache: true,
                data: { invoiceId: '@Model.CustomerId' },
                type: 'GET',
                url: '@Url.Action("GetDomains")',
                success: function (data) {
                    ddlDomains.html('');
                    $.each(data, function (id) {
                        ddlDomains.append($('<option></option>').val(data[id].Name).html(data[id].Name));
                    })

                    var domain = $('#ddlDomains').find(":selected").text();

                    $.get('/Customers/@Model.CustomerId/Domains/' + domain + '/ConfigurationRecords', function (data) {
                        $('#records').html(data);
                        $('#records').fadeIn('fast');
                    });
                }
            });

            function OnUserDeleteCallback(data) {
                $('#' + data).remove();
            }

            function OnUserSuccessCallback(data, status, xhr) {
                $('#modal-container').modal('hide');
            }

            $('#ddlDomains').change(function () {
                var domain = $(this).val();

                $.get('/Customers/@Model.CustomerId/Domains/' + domain + '/ConfigurationRecords', function (data) {
                    $('#records').html(data);
                    $('#records').fadeIn('fast');
                });
            });

            $(".lnkEditUser").click(function (e) {
                e.preventDefault();
                $(this).attr('data-target', '#modal-container');
                $(this).attr('data-toggle', 'modal');
            });

            $(".lnkNewUser").click(function (e) {
                e.preventDefault();
                $(this).attr('data-target', '#modal-container');
                $(this).attr('data-toggle', 'modal');
            });

            $(document).on('hidden.bs.modal', function (e) {
                $(e.target).removeData('bs.modal');
            });
        </script>
    }

}

<div class="side-body padding-top">
    @if (Model.SubscriptionType.Equals("Azure", StringComparison.CurrentCultureIgnoreCase))
    {
        Html.RenderPartial("~/Views/Subscriptions/ManageAzureSubscription.cshtml", Model);
    }
    else
    {
        Html.RenderPartial("~/Views/Subscriptions/ManageOfficeSubscription.cshtml", Model);
    }
</div>