@model Microsoft.Store.PartnerCenter.Samples.SDK.Explorer.Models.UsageModel
@using Microsoft.Store.PartnerCenter.Models.Usage

@{
    ViewBag.Title = "View Usage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breadcrumbs{
    <ol class="breadcrumb navbar-breadcrumb">
        <li>Customers</li>
        <li><a href="/Customers/@Model.CustomerId/Show">@Model.CompanyName</a></li>
        <li>Subscription</li>
        <li><a href="/Customers/@Model.CustomerId/Subscriptions/@Model.SubscriptionId">@Model.SubscriptionFriendlyName</a></li>
        <li class="active">Usage</li>
    </ol>
}

<div class="side-body padding-top">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Last Modified Date</th>
                <th>Category</th>
                <th>Subcategory</th>
                <th>Resource Identifier</th>
                <th>Resource Name</th>
                <th>Quantity Used</th>
                <th>Total Cost</th>
                <th>Unit</th>
            </tr>
        </thead>
        @foreach (AzureResourceMonthlyUsageRecord record in Model.MonthlyUsage.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(item => record.LastModifiedDate)
                </td>
                <td>
                    @Html.DisplayFor(item => record.Category)
                </td>
                <td>
                    @Html.DisplayFor(item => record.Subcategory)
                </td>
                <td>
                    @Html.DisplayFor(item => record.ResourceId)
                </td>
                <td>
                    @Html.DisplayFor(item => record.ResourceName)
                </td>
                <td>
                    @Html.DisplayFor(item => record.QuantityUsed)
                </td>
                <td>
                    @Html.DisplayFor(item => record.TotalCost)
                </td>
                <td>
                    @Html.DisplayFor(item => record.Unit)
                </td>
            </tr>
        }
    </table>
</div>